---
import SectionTitle from '../../components/SectionTitle.astro'
import Text from '../../components/Text.astro'
import Icon, { icon } from '../../components/Icon.astro'
import { projects } from '../../projects.json'
import Project from '../../components/Project.astro'
import { languages } from '../../i18n/ui'
import { getLangFromUrl, useTranslations } from '../../i18n/utils'

export function getStaticPaths() {
  return Object.keys(languages).map(lang => ({ params: { lang } }))
}

const { lang } = Astro.params
const t = useTranslations(getLangFromUrl(Astro.url))

const ExternalLinks: Array<{ name: string; url: string; icon: icon }> = [
  {
    name: 'GitHub',
    url: 'https://github.com/mateo-14',
    icon: 'github'
  },
  {
    name: 'Linkedin',
    url: 'https://linkedin.com/in/mateo-ledesma',
    icon: 'linkedin'
  },
  {
    name: t('nav.contact'),
    url: 'mailto:mateo.14.ledesma@gmail.com',
    icon: 'mail'
  }
]


---

<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mateo Ledesma - Full Stack Developer</title>

    <script>import '../../main.js';</script>
  </head>
  <body class="dark:bg-customBlack dark:text-white text-neutral-900">
    <header class="container mx-auto py-2.5">
      <div class="flex justify-between items-center flex-wrap gap-y-4 gap-x-4">
        <div>
          <h1 class="text-2xl font-bold">Mateo Ledesma <span class="underscore-anim">_</span></h1>
          <h2 class="dark:text-gray-400 italic font-bold">Full Stack Developer</h2>
        </div>
        <div class="flex gap-x-6">
          {
            ExternalLinks.map(link => (
              <a href={link.url} class="hover:scale-125 hover:transition" target="_blank" title={link.name}>
                <Icon icon={link.icon} />
              </a>
            ))
          }
          <button id="toggle-theme" class="hover:scale-125 hover:transition relative w-6 h-6" title={t('theme.change')} type="button">
            <Icon icon="sun" className="sun absolute top-0" />
            <Icon icon="moon" className="moon absolute top-0" />
          </button>
          <a class="font-bold" href={`/${Object.keys(languages).filter(_lang => _lang !== lang)[0]}`} title={t('lang.change')}>
            {Object.keys(languages).filter(_lang => _lang !== lang)[0].toUpperCase()}
          </a>
        </div>
      </div>

      <div class="font-bold flex items-center mt-2.5 text-lg gap-x-1.5">
        <span class="hidden md:inline">
          {'>'}
        </span>
        <nav class="flex gap-x-3 flex-wrap">
          <a href="#about" class="hover:opacity-70 hover:transition py-1.5 px-1.5">{t('nav.about')}</a>
          <a href="#skills" class="hover:opacity-70 hover:transition py-1.5 px-1.5">{t('nav.skills')}</a>
          <a href="#projects" class="hover:opacity-70 hover:transition py-1.5 px-1.5">{t('nav.projects')}</a>
          <a href="#github" class="hover:opacity-70 hover:transition py-1.5 px-1.5">GitHub Repos</a>
          <a href={t('resume-file')} class="hover:opacity-70 hover:transition py-1.5 px-1.5">{t('nav.resume')}</a>
        </nav>
      </div>
    </header>
    <main class="container mx-auto grid gap-y-12 mt-10 dark:text-gray-300">
      <section id="about" class="scroll-m-5">
        <SectionTitle>{t('nav.about')} 🧑🏻‍💻</SectionTitle>
        <Text>
          {t('about.0')}
        </Text>
        <Text>
          {t('about.1')}
          {' '}
          <a
            class="font-bold dark:text-white underline"
            href={t('resume-file')}
          >{t('about.clickHere')}</a
          >.
        </Text>
      </section>

      <section id="skills" class="scroll-m-5">
        <SectionTitle>{t('nav.skills')} 💻</SectionTitle>
        <ul class="list-disc pl-9 text-lg">
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>React</li>
          <li>Next.js</li>
          <li>Node.js</li>
          <li>HTML {t('and')} CSS</li>
          <li>Go</li>
        </ul>
      </section>

      <section id="projects" class="scroll-m-5">
        <SectionTitle>{t('nav.projects')} 📂</SectionTitle>
        <div class="space-y-7">
          {projects.map(project => <Project project={project} />)}
        </div>
      </section>

      {
        <section id="github">
          <SectionTitle>
            {t('github.repos')} <Icon icon="github" className='inline ml-2 mb-1.5'/>
          </SectionTitle>
          <ul class="space-y-5">
          </ul>
        </section>
      }
    </main>
    <footer class="mt-14 py-8 flex justify-center items-center gap-x-5 text-lg">
      {
        ExternalLinks.map(link => (
          <a class="hover:opacity-70 hover:transition" href={link.url} target="_blank">
            {link.name}
          </a>
        ))
        
      }
        <a class="hover:opacity-70 hover:transition" href={`/${Object.keys(languages).filter(_lang => _lang !== lang)[0]}`} title={t('lang.change')}>
        {Object.entries(languages).filter(([code, _lang]) => code !== lang)[0][1]}
      </a>
    </footer>
  </body>
</html>

<style>
  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Italic.ttf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
</style>

<style is:global>
  .dark-mode-fade-in {
    animation: dark-mode-fade-in 0.4s ease-in-out;
    animation-fill-mode: forwards;
  }

  .dark-mode-fade-out {
    animation: dark-mode-fade-out 0.4s ease-in-out;
    animation-fill-mode: forwards;
  }
  @keyframes dark-mode-fade-in {
    from {
      transform: translateY(-15px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes dark-mode-fade-out {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(15px);
      opacity: 0;
    }
  }

  .underscore-anim {
    animation: underscore-anim steps(2, start) 1s infinite;
  }

  @keyframes underscore-anim {
    to {
      visibility: hidden;
    }
  }
</style>

<script>
  import type { GithubRepostory } from '../repos/index.json'

  const toggleThemeBtn = document.getElementById('toggle-theme')
  const sun = toggleThemeBtn?.querySelector('.sun')
  const moon = toggleThemeBtn?.querySelector('.moon')

  if (
    localStorage.theme === 'dark' ||
    (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    document.documentElement.classList.add('dark')
    sun?.classList.add('hidden')
  } else {
    moon?.classList.add('hidden')
    document.documentElement.classList.remove('dark')
  }

  toggleThemeBtn?.addEventListener('click', () => {
    document.documentElement.classList.toggle('dark')

    if (document.documentElement.classList.contains('dark')) {
      moon?.classList.remove('hidden', 'dark-mode-fade-out')
      moon?.classList.add('dark-mode-fade-in')
      sun?.classList.remove('dark-mode-fade-in')
      sun?.classList.add('dark-mode-fade-out')
      localStorage.setItem('theme', 'dark')
    } else {
      sun?.classList.remove('hidden', 'dark-mode-fade-out')
      sun?.classList.add('dark-mode-fade-in')
      moon?.classList.remove('dark-mode-fade-in')
      moon?.classList.add('dark-mode-fade-out')
      localStorage.setItem('theme', 'light')
    }
  })

  const language = document.documentElement.lang

  const githubRepoTemplate = `<h3 class="text-lg font-bold dark:text-white">
      <a class="hover:underline"></a>  
    </h3>
    <p data-description></p>
    <div class="text-sm mt-3 flex items-center">
      <span class="mr-3 flex items-center gap-x-1.5" data-language>
        <span class="h-2 w-2 block rounded-full"></span>
      </span>
      <span>
        ${language === 'en' ? 'Updated' : 'Actualizado'}
        <relative-time prefix="${language === 'en' ? 'on' : 'el'}">
        </relative-time>
      </span>
    </div>`;

  (async () => {
    const reposList = document.querySelector('#github ul')
    const res = await fetch('/repos.json')
    const repos: GithubRepostory[] = await res.json()

    const reposItems = repos.map(repo => {
      const li = document.createElement('li')
      li.classList.add('px-5', 'py-4', 'dark:bg-white/5', 'bg-black/5', 'rounded-lg', 'shadow-md')
      li.innerHTML = githubRepoTemplate
      li.querySelector('a').href = repo.html_url
      li.querySelector('a').textContent = repo.name
      li.querySelector('[data-description]').textContent = repo.description
      li.querySelector('[data-language] span').style.backgroundColor = repo.color
      li.querySelector('[data-language]')?.append(repo.language)
      li.querySelector('relative-time').setAttribute('datetime', repo.pushed_at)
      li.querySelector('relative-time').innerText = new Date(repo.pushed_at).toLocaleString()
      return li
    })

    if (!repos?.length) {
      reposList?.parentElement?.remove()
    }

    reposList?.append(...reposItems)
  })()

</script>
